Repository wavesplatform/Waves, pull requests merged in 2018-10, with the labels that each got.

#1534 MAT-58 Unit tests for reserved balance
  src/main/scala/com/wavesplatform/matcher/model/OrderInfo.scala
  src/test/scala/com/wavesplatform/matcher/AssetPairDecimals.scala
  src/test/scala/com/wavesplatform/matcher/matching/ReservedBalanceSpecification.scala
Labels: matcher

#1557 DEX-121 Pair indexes contains less orders than should
  src/main/scala/com/wavesplatform/matcher/FinalizedOrdersIndex.scala
  src/main/scala/com/wavesplatform/matcher/api/DBUtils.scala
  src/test/scala/com/wavesplatform/matcher/model/OrderHistorySpecification.scala
Labels: matcher

#1562 DEX-123 Additional unit tests for indexes
  src/main/scala/com/wavesplatform/matcher/api/DBUtils.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderValidatorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/model/OrderHistorySpecification.scala
Labels: matcher

#1563 DEX-122 Save the last order timestamp
  it/src/test/scala/com/wavesplatform/it/sync/matcher/MatcherTestSuite.scala
  src/main/resources/application.conf
  src/main/scala/com/wavesplatform/matcher/MatcherKeys.scala
  src/main/scala/com/wavesplatform/matcher/MatcherSettings.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderHistoryActor.scala
  src/main/scala/com/wavesplatform/matcher/model/OrderHistory.scala
  src/main/scala/com/wavesplatform/matcher/model/OrderValidator.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderValidatorSpecification.scala
  src/test/scala/com/wavesplatform/settings/MatcherSettingsSpecification.scala
Labels: matcher

#1570 DEX-119 Order placement improvements
  benchmark/src/test/scala/com/wavesplatform/state/BaseState.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/OrdersFromScriptedAccTestSuite.scala
  src/main/resources/application.conf
  src/main/scala/com/wavesplatform/Application.scala
  src/main/scala/com/wavesplatform/matcher/Matcher.scala
  src/main/scala/com/wavesplatform/matcher/MatcherSettings.scala
  src/main/scala/com/wavesplatform/matcher/api/DBUtils.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
  src/main/scala/com/wavesplatform/matcher/market/MatcherActor.scala
  src/main/scala/com/wavesplatform/matcher/market/MatcherTransactionWriter.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderHistoryActor.scala
  src/main/scala/com/wavesplatform/matcher/model/ExchangeTransactionCreator.scala
  src/main/scala/com/wavesplatform/matcher/model/OrderHistory.scala
  src/main/scala/com/wavesplatform/matcher/model/OrderValidator.scala
  src/main/scala/com/wavesplatform/transaction/assets/exchange/OrderJson.scala
  src/main/scala/com/wavesplatform/utx/UtxPoolImpl.scala
  src/test/scala/com/wavesplatform/NTPTime.scala
  src/test/scala/com/wavesplatform/TestWallet.scala
  src/test/scala/com/wavesplatform/TransactionGen.scala
  src/test/scala/com/wavesplatform/WithDB.scala
  src/test/scala/com/wavesplatform/consensus/FPPoSSelectorTest.scala
  src/test/scala/com/wavesplatform/database/LevelDBWriterSpec.scala
  src/test/scala/com/wavesplatform/db/ScriptCacheTest.scala
  src/test/scala/com/wavesplatform/db/WithState.scala
  src/test/scala/com/wavesplatform/history/DomainScenarioDrivenPropertyCheck.scala
  src/test/scala/com/wavesplatform/matcher/MatcherTestData.scala
  src/test/scala/com/wavesplatform/matcher/market/MatcherActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/market/MatcherSpec.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderBookActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderValidatorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/matching/ReservedBalanceSpecification.scala
  src/test/scala/com/wavesplatform/matcher/model/OrderHistorySpecification.scala
  src/test/scala/com/wavesplatform/settings/MatcherSettingsSpecification.scala
  src/test/scala/com/wavesplatform/transaction/ExchangeTransactionSpecification.scala
  src/test/scala/com/wavesplatform/transaction/OrderSpecification.scala
Labels: matcher

#1565 DEX-124 Order serialisation - forward compatibility with 0.15.x
  src/main/scala/com/wavesplatform/matcher/MatcherKeys.scala
Labels: matcher

#1575 DEX-127 Snapshot fixes
  src/main/scala/com/wavesplatform/matcher/MatcherSnapshotStore.scala
  src/main/scala/com/wavesplatform/matcher/MatcherTool.scala
  src/main/scala/com/wavesplatform/matcher/api/DBUtils.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
  src/test/scala/com/wavesplatform/matcher/model/OrderHistorySpecification.scala
Labels: matcher

#1584 DEX-134 Can't delete an order book
  it/src/main/scala/com/wavesplatform/it/api/AsyncMatcherHttpApi.scala
  it/src/main/scala/com/wavesplatform/it/api/SyncMatcherHttpApi.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/MatcherTestSuite.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
Labels: bug, matcher

#1583 DEX-12 Reject orders with invalid trailing price digits
  it/src/test/scala/com/wavesplatform/it/sync/matcher/MatcherMassOrdersTestSuite.scala
  src/main/scala/com/wavesplatform/matcher/model/OrderValidator.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderValidatorSpecification.scala
Labels: matcher

#1586 DEX-135 Backport market status
  it/src/main/scala/com/wavesplatform/it/api/AsyncMatcherHttpApi.scala
  it/src/main/scala/com/wavesplatform/it/api/SyncMatcherHttpApi.scala
  it/src/main/scala/com/wavesplatform/it/api/model.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/MatcherTestSuite.scala
  src/main/scala/com/wavesplatform/matcher/Matcher.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
  src/main/scala/com/wavesplatform/matcher/market/MatcherActor.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
  src/test/scala/com/wavesplatform/matcher/market/MatcherActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderBookActorSpecification.scala
Labels: enhancement, matcher

#1595 DEX-129 Can not place an order with multiple proofs
  benchmark/build.sbt
  it/src/main/scala/com/wavesplatform/it/MatcherNode.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/smartcontracts/OrdersFromScriptedAccTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/smartcontracts/ProofAndAssetPairTestSuite.scala
  src/main/scala/com/wavesplatform/matcher/model/OrderValidator.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderValidatorSpecification.scala
Labels: matcher

#1593 DEX-136 Order book recovery error
  src/main/scala/com/wavesplatform/matcher/model/OrderBook.scala
Labels: matcher

#1601 DEX-131 A more specific error, if a script uses the matcher's context
  it/src/main/scala/com/wavesplatform/it/MatcherNode.scala
  it/src/main/scala/com/wavesplatform/it/matcher/MatcherSuiteBase.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/smartcontracts/OrdersFromScriptedAccTestSuite.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderValidatorSpecification.scala
Labels: matcher

#1600 DEX-137 Matcher works incorrect in a case of usage function from the full context
  it/src/test/scala/com/wavesplatform/it/sync/matcher/smartcontracts/OrdersFromScriptedAccTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/smartcontracts/ProofAndAssetPairTestSuite.scala
  src/main/scala/com/wavesplatform/transaction/smart/Verifier.scala
Labels: matcher

#1603 DEX-142 Detailed errors during validation
  src/main/scala/com/wavesplatform/matcher/model/OrderValidator.scala
  src/main/scala/com/wavesplatform/transaction/assets/exchange/Validation.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderValidatorSpecification.scala
Labels: matcher

#1612 DEX-10 Batch cancel
  it/src/main/scala/com/wavesplatform/it/api/AsyncMatcherHttpApi.scala
  it/src/main/scala/com/wavesplatform/it/api/SyncMatcherHttpApi.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/CancelOrderTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/MatcherRestartTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/MatcherTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/RestOrderLimitTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/RoundingIssuesTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/SeveralPartialOrdersTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/TradeBalanceAndRoundingTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/TradersTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/config/MatcherPriceAssetConfig.scala
  src/main/scala/com/wavesplatform/matcher/Matcher.scala
  src/main/scala/com/wavesplatform/matcher/MatcherKeys.scala
  src/main/scala/com/wavesplatform/matcher/api/BatchCancel.scala
  src/main/scala/com/wavesplatform/matcher/api/DBUtils.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderHistoryActor.scala
  src/main/scala/com/wavesplatform/matcher/model/OrderHistory.scala
Labels: matcher

#1604 DEX-145 Respond with 503 error if an order book is down
  it/src/main/scala/com/wavesplatform/it/api/AsyncMatcherHttpApi.scala
  it/src/main/scala/com/wavesplatform/it/api/SyncHttpApi.scala
  it/src/main/scala/com/wavesplatform/it/api/SyncMatcherHttpApi.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/CancelOrderTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/MatcherTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/OrderBookTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/RoundingIssuesTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/SeveralPartialOrdersTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/TradeBalanceAndRoundingTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/TradersTestSuite.scala
  src/main/scala/com/wavesplatform/matcher/Matcher.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherResponse.scala
  src/main/scala/com/wavesplatform/matcher/market/MatcherActor.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
  src/test/scala/com/wavesplatform/matcher/market/MatcherActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderBookActorSpecification.scala
Labels: matcher

#1625 DEX-146 Can't cancel an order
  it/src/test/scala/com/wavesplatform/it/sync/matcher/config/MatcherDefaultConfig.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/config/MatcherPriceAssetConfig.scala
  src/main/scala/com/wavesplatform/matcher/Matcher.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderHistoryActor.scala
  src/main/scala/com/wavesplatform/matcher/model/MatcherModel.scala
Labels: matcher
