Repository wavesplatform/Waves, pull requests merged in 2019-05, with the labels that each got.

#2213 DEX-299 HTTP 500 error during base58 parsing
  src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
  src/test/scala/com/wavesplatform/matcher/api/MatcherApiRouteSpec.scala
  src/test/scala/com/wavesplatform/matcher/market/MatcherActorSpecification.scala
Labels: matcher

#2229 DEX-296 Promise already completed issue
  src/main/scala/com/wavesplatform/matcher/AddressActor.scala
  src/test/scala/com/wavesplatform/matcher/market/MatcherActorSpecification.scala
Labels: matcher, wip

#2182 DEX-295 Don't schedule expiration during recovery process
  src/main/resources/application.conf
  src/main/scala/com/wavesplatform/matcher/Matcher.scala
  src/main/scala/com/wavesplatform/matcher/MatcherSettings.scala
  src/main/scala/com/wavesplatform/matcher/WatchDistributedCompletionActor.scala
  src/main/scala/com/wavesplatform/matcher/market/MatcherActor.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
  src/test/scala/com/wavesplatform/matcher/market/MatcherActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderBookActorSpecification.scala
  src/test/scala/com/wavesplatform/settings/MatcherSettingsSpecification.scala
Labels: matcher

#2221 DEX-284 Remove matcher settings from waves-mainnet, waves-devnet, waves-testnet conf files
  build.sbt
  dex/dex-devnet.conf
  dex/dex-mainnet.conf
  dex/dex-testnet.conf
  dex/src/main/resources/application.conf
  dex/src/main/resources/dex-base.conf
  dex/src/test/scala/com/wavesplatform/matcher/market/MatcherActorSpecification.scala
  node/build.sbt
  node/src/main/resources/application.conf
  node/src/main/scala/com/wavesplatform/Application.scala
  node/src/main/scala/com/wavesplatform/settings/WavesSettings.scala
  node/waves-devnet.conf
  node/waves-mainnet.conf
  node/waves-testnet.conf
  project/CommonSettings.scala
  project/ExtensionPackaging.scala
Labels: matcher

#2242 DEX-304 Order books' snapshots are created too often
  src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
  src/main/scala/com/wavesplatform/matcher/market/SnapshotsState.scala
  src/test/scala/com/wavesplatform/matcher/market/MatcherActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/market/SnapshotStateSpecification.scala
Labels: matcher

#2247 DEX-305 Starting issues
  project/Dependencies.scala
  src/main/scala/com/wavesplatform/matcher/Matcher.scala
  src/main/scala/com/wavesplatform/matcher/MatcherTool.scala
  src/main/scala/com/wavesplatform/matcher/market/MatcherActor.scala
Labels: matcher

#2209 DEX-279 History database
  .travis.yml
  dex-it/src/test/scala/com/wavesplatform/it/DockerContainerLauncher.scala
  dex-it/src/test/scala/com/wavesplatform/it/sync/OrderHistoryTestSuite.scala
  dex/src/main/resources/application.conf
  dex/src/main/resources/order-history/order-history-ddl.sql
  dex/src/main/scala/com/wavesplatform/matcher/AddressActor.scala
  dex/src/main/scala/com/wavesplatform/matcher/AddressDirectory.scala
  dex/src/main/scala/com/wavesplatform/matcher/Matcher.scala
  dex/src/main/scala/com/wavesplatform/matcher/error/MatcherError.scala
  dex/src/main/scala/com/wavesplatform/matcher/history/DBRecords.scala
  dex/src/main/scala/com/wavesplatform/matcher/history/HistoryMessagesBatchSender.scala
  dex/src/main/scala/com/wavesplatform/matcher/history/HistoryRouter.scala
  dex/src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
  dex/src/main/scala/com/wavesplatform/matcher/model/MatcherModel.scala
  dex/src/main/scala/com/wavesplatform/matcher/model/OrderBook.scala
  dex/src/main/scala/com/wavesplatform/matcher/model/OrderValidator.scala
  dex/src/main/scala/com/wavesplatform/matcher/settings/DeviationsSettings.scala
  dex/src/main/scala/com/wavesplatform/matcher/settings/MatcherSettings.scala
  dex/src/main/scala/com/wavesplatform/matcher/settings/OrderFeeSettings.scala
  dex/src/main/scala/com/wavesplatform/matcher/settings/OrderHistorySettings.scala
  dex/src/main/scala/com/wavesplatform/matcher/settings/OrderRestrictionsSettings.scala
  dex/src/main/scala/com/wavesplatform/matcher/settings/PostgresConnection.scala
  dex/src/test/scala/com/wavesplatform/matcher/history/HistoryRouterSpecification.scala
  dex/src/test/scala/com/wavesplatform/matcher/market/OrderBookActorSpecification.scala
  dex/src/test/scala/com/wavesplatform/matcher/matching/ReservedBalanceSpecification.scala
  dex/src/test/scala/com/wavesplatform/matcher/model/OrderHistoryBalanceSpecification.scala
  dex/src/test/scala/com/wavesplatform/matcher/model/OrderValidatorSpecification.scala
  node-it/src/test/scala/com/wavesplatform/it/Docker.scala
  node/src/main/scala/com/wavesplatform/settings/utils/ConfigOps.scala
  node/src/main/scala/com/wavesplatform/settings/utils/ConfigSettingsValidator.scala
  project/Dependencies.scala
Labels: matcher

#2258 DEX-306 Order cancelling with tick-size fixed
  dex/src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
  dex/src/main/scala/com/wavesplatform/matcher/model/OrderBook.scala
  dex/src/test/scala/com/wavesplatform/matcher/MatcherTestData.scala
  dex/src/test/scala/com/wavesplatform/matcher/market/OrderBookActorSpecification.scala
Labels: matcher

#2260 DEX-253 For reversed pairs URLs with suffix returns incorrect redirect response
  src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
Labels: matcher

#2254 DEX-301 Dynamic order-fee mode
  dex-it/src/test/scala/com/wavesplatform/it/api/AsyncMatcherHttpApi.scala
  dex-it/src/test/scala/com/wavesplatform/it/api/SyncMatcherHttpApi.scala
  dex-it/src/test/scala/com/wavesplatform/it/sync/RatesTestSuite.scala
  dex/src/main/resources/application.conf
  dex/src/main/scala/com/wavesplatform/matcher/AssetPairBuilder.scala
  dex/src/main/scala/com/wavesplatform/matcher/Matcher.scala
  dex/src/main/scala/com/wavesplatform/matcher/MatcherKeys.scala
  dex/src/main/scala/com/wavesplatform/matcher/RateCache.scala
  dex/src/main/scala/com/wavesplatform/matcher/RateDB.scala
  dex/src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
  dex/src/main/scala/com/wavesplatform/matcher/api/MatcherResponse.scala
  dex/src/main/scala/com/wavesplatform/matcher/api/PathMatchers.scala
  dex/src/main/scala/com/wavesplatform/matcher/error/MatcherError.scala
  dex/src/main/scala/com/wavesplatform/matcher/model/ExchangeTransactionCreator.scala
  dex/src/main/scala/com/wavesplatform/matcher/model/OrderValidator.scala
  dex/src/main/scala/com/wavesplatform/matcher/settings/DeviationsSettings.scala
  dex/src/main/scala/com/wavesplatform/matcher/settings/MatcherSettings.scala
  dex/src/main/scala/com/wavesplatform/matcher/settings/OrderFeeSettings.scala
  dex/src/test/scala/com/wavesplatform/matcher/MatcherTestData.scala
  dex/src/test/scala/com/wavesplatform/matcher/model/OrderValidatorSpecification.scala
  dex/src/test/scala/com/wavesplatform/matcher/model/RateDBSpec.scala
  dex/src/test/scala/com/wavesplatform/matcher/settings/MatcherSettingsSpecification.scala
  node-it/src/test/scala/com/wavesplatform/it/api/AsyncHttpApi.scala
  node-it/src/test/scala/com/wavesplatform/it/api/model.scala
  node-it/src/test/scala/com/wavesplatform/it/api/package.scala
Labels: matcher

#2257 DEX-308 Storage for MatcherActor's known pairs
  src/main/resources/application.conf
  src/main/scala/com/wavesplatform/matcher/AddressActor.scala
  src/main/scala/com/wavesplatform/matcher/Matcher.scala
  src/main/scala/com/wavesplatform/matcher/MatcherKeys.scala
  src/main/scala/com/wavesplatform/matcher/MatcherSettings.scala
  src/main/scala/com/wavesplatform/matcher/MatcherTool.scala
  src/main/scala/com/wavesplatform/matcher/db/AssetPairsDB.scala
  src/main/scala/com/wavesplatform/matcher/db/OrderDB.scala
  src/main/scala/com/wavesplatform/matcher/market/MatcherActor.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
  src/main/scala/com/wavesplatform/matcher/queue/QueueEventWithMeta.scala
  src/main/scala/com/wavesplatform/matcher/util/WorkingStash.scala
  src/test/scala/com/wavesplatform/WithDB.scala
  src/test/scala/com/wavesplatform/matcher/AddressActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/db/AssetPairsDBSpec.scala
  src/test/scala/com/wavesplatform/matcher/db/EmptyOrderDB.scala
  src/test/scala/com/wavesplatform/matcher/db/OrderDBSpec.scala
  src/test/scala/com/wavesplatform/matcher/db/TestOrderDB.scala
  src/test/scala/com/wavesplatform/matcher/market/MatcherActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderBookActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/matching/ReservedBalanceSpecification.scala
  src/test/scala/com/wavesplatform/matcher/model/OrderHistoryStub.scala
  src/test/scala/com/wavesplatform/settings/MatcherSettingsSpecification.scala
Labels: matcher

#2279 DEX-312 Notify about orders, but put off expiration schedules
  src/main/scala/com/wavesplatform/matcher/AddressActor.scala
  src/main/scala/com/wavesplatform/matcher/AddressDirectory.scala
  src/main/scala/com/wavesplatform/matcher/Matcher.scala
  src/main/scala/com/wavesplatform/matcher/market/MatcherActor.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
  src/test/scala/com/wavesplatform/matcher/AddressActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/market/MatcherActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderBookActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/matching/ReservedBalanceSpecification.scala
  src/test/scala/com/wavesplatform/matcher/model/OrderHistoryStub.scala
Labels: matcher

#2282 SC-214: Fix lastBlockInfo in block differ
  node/src/main/scala/com/wavesplatform/state/diffs/BlockDiffer.scala
  node/src/main/scala/com/wavesplatform/state/reader/CompositeBlockchain.scala
  node/src/test/scala/com/wavesplatform/state/RollbackSpec.scala
  node/src/test/scala/com/wavesplatform/state/diffs/package.scala
Labels: do-merge

#2286 Fix UTX metrics on microblock reject
  grpc-server/src/main/scala/com/wavesplatform/api/grpc/TransactionsApiGrpcImpl.scala
  node/src/main/resources/application.conf
  node/src/main/scala/com/wavesplatform/api/common/CommonTransactionsApi.scala
  node/src/main/scala/com/wavesplatform/api/http/TransactionsApiRoute.scala
  node/src/main/scala/com/wavesplatform/http/BroadcastRoute.scala
  node/src/main/scala/com/wavesplatform/settings/RestAPISettings.scala
  node/src/main/scala/com/wavesplatform/settings/UtxSettings.scala
  node/src/main/scala/com/wavesplatform/utx/UtxPoolImpl.scala
  node/src/test/scala/com/wavesplatform/http/WalletRouteSpec.scala
  node/src/test/scala/com/wavesplatform/settings/RestAPISettingsSpecification.scala
  node/src/test/scala/com/wavesplatform/settings/UTXSettingsSpecification.scala
  node/src/test/scala/com/wavesplatform/utx/UtxPoolSpecification.scala
Labels: do-merge

#2298 DEX-313 Ability to blacklist an asset, but allow a pair with this asset
  src/main/resources/application.conf
  src/main/scala/com/wavesplatform/matcher/Matcher.scala
  src/main/scala/com/wavesplatform/matcher/MatcherSettings.scala
  src/main/scala/com/wavesplatform/matcher/model/OrderValidator.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderValidatorSpecification.scala
  src/test/scala/com/wavesplatform/settings/MatcherSettingsSpecification.scala
Labels: matcher

#2305 DEX-318 REST API pair validation doesn't respect allowed-asset-pairs and white-list-only
  it/src/test/scala/com/wavesplatform/it/sync/matcher/BlacklistedTradingTestSuite.scala
  src/main/scala/com/wavesplatform/matcher/AssetPairBuilder.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
Labels: matcher

#2312 DEX-313 OrderBook can't be initialized
  src/main/scala/com/wavesplatform/matcher/market/MatcherActor.scala
Labels: matcher

#2314 DEX-313 OrderBook can't be initialized - an additional fix
  it/src/test/scala/com/wavesplatform/it/sync/matcher/TradersTestSuite.scala
  src/main/scala/com/wavesplatform/transaction/assets/exchange/OrderJson.scala
  src/test/scala/com/wavesplatform/transaction/assets/exchange/OrderJsonSpecification.scala
Labels: matcher

#2307 NODE-1572: Block appender metrics (master)
  dex-generator/src/main/scala/com/wavesplatform/dexgen/Worker.scala
  dex/src/main/scala/com/wavesplatform/matcher/AddressActor.scala
  dex/src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
  node/src/main/scala/com/wavesplatform/metrics/package.scala
  node/src/main/scala/com/wavesplatform/state/appender/BlockAppender.scala
  node/src/main/scala/com/wavesplatform/state/appender/package.scala
  node/src/main/scala/com/wavesplatform/utils/ScorexLogging.scala
Labels: do-merge
