Repository wavesplatform/Waves, pull requests merged in 2019-02, with the labels that each got.

#1859 SC-55 Make left instead of exceptions for exprEvaluator
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/evaluator/EvaluatorV1.scala
Labels: wip

#1843 DEX-171 Expired order cleanup
  it/src/main/scala/com/wavesplatform/it/api/AsyncMatcherHttpApi.scala
  it/src/main/scala/com/wavesplatform/it/api/SyncMatcherHttpApi.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/MatcherRecoveryTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/MultipleMatchersTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/OrderBookTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/TradeBalanceAndRoundingTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/config/MatcherDefaultConfig.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/smartcontracts/OrdersFromScriptedAssetTestSuite.scala
  src/main/resources/application.conf
  src/main/scala/com/wavesplatform/matcher/AddressActor.scala
  src/main/scala/com/wavesplatform/matcher/AddressDirectory.scala
  src/main/scala/com/wavesplatform/matcher/Matcher.scala
  src/main/scala/com/wavesplatform/matcher/MatcherKeys.scala
  src/main/scala/com/wavesplatform/matcher/MatcherSettings.scala
  src/main/scala/com/wavesplatform/matcher/MatcherTool.scala
  src/main/scala/com/wavesplatform/matcher/OrderDB.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherResponse.scala
  src/main/scala/com/wavesplatform/matcher/api/OrderBookSnapshotHttpCache.scala
  src/main/scala/com/wavesplatform/matcher/api/package.scala
  src/main/scala/com/wavesplatform/matcher/market/MatcherActor.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
  src/main/scala/com/wavesplatform/matcher/model/EventSerializers.scala
  src/main/scala/com/wavesplatform/matcher/model/ExchangeTransactionCreator.scala
  src/main/scala/com/wavesplatform/matcher/model/MatcherModel.scala
  src/main/scala/com/wavesplatform/matcher/model/OrderBook.scala
  src/main/scala/com/wavesplatform/matcher/model/OrderInfo.scala
  src/main/scala/com/wavesplatform/matcher/util/Codecs.scala
  src/test/scala/com/wavesplatform/NTPTime.scala
  src/test/scala/com/wavesplatform/matcher/AddressActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/EmptyOrderDB.scala
  src/test/scala/com/wavesplatform/matcher/MatcherTestData.scala
  src/test/scala/com/wavesplatform/matcher/TestOrderDB.scala
  src/test/scala/com/wavesplatform/matcher/api/OrderBookSnapshotHttpCacheSpec.scala
  src/test/scala/com/wavesplatform/matcher/market/MatcherActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderBookActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderValidatorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/matching/ReservedBalanceSpecification.scala
  src/test/scala/com/wavesplatform/matcher/model/EventJsonSpecification.scala
  src/test/scala/com/wavesplatform/matcher/model/EventSpecification.scala
  src/test/scala/com/wavesplatform/matcher/model/ExchangeTransactionCreatorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/model/OrderBookSpec.scala
  src/test/scala/com/wavesplatform/matcher/model/OrderDBSpec.scala
  src/test/scala/com/wavesplatform/matcher/model/OrderHistoryBalanceSpecification.scala
  src/test/scala/com/wavesplatform/matcher/model/OrderHistoryStub.scala
  src/test/scala/com/wavesplatform/settings/MatcherSettingsSpecification.scala
Labels: matcher

#1864 DEX-202 Stop DEX when recovery fails
  src/main/resources/application.conf
  src/main/scala/com/wavesplatform/Application.scala
  src/main/scala/com/wavesplatform/api/http/ApiRoute.scala
  src/main/scala/com/wavesplatform/api/http/CompositeHttpService.scala
  src/main/scala/com/wavesplatform/matcher/LocalQueueStore.scala
  src/main/scala/com/wavesplatform/matcher/Matcher.scala
  src/main/scala/com/wavesplatform/matcher/MatcherSettings.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherResponse.scala
  src/main/scala/com/wavesplatform/matcher/market/MatcherActor.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
  src/main/scala/com/wavesplatform/matcher/queue/KafkaMatcherQueue.scala
  src/main/scala/com/wavesplatform/matcher/queue/LocalMatcherQueue.scala
  src/main/scala/com/wavesplatform/matcher/queue/MatcherQueue.scala
  src/main/scala/com/wavesplatform/utils/ApplicationStopReason.scala
  src/package/systemd.service
  src/test/scala/com/wavesplatform/matcher/market/MatcherActorSpecification.scala
  src/test/scala/com/wavesplatform/settings/MatcherSettingsSpecification.scala
Labels: matcher

#1834 NODE-1296: State optimizations
  src/main/scala/com/wavesplatform/Explorer.scala
  src/main/scala/com/wavesplatform/block/Block.scala
  src/main/scala/com/wavesplatform/database/Caches.scala
  src/main/scala/com/wavesplatform/database/KeyHelpers.scala
  src/main/scala/com/wavesplatform/database/Keys.scala
  src/main/scala/com/wavesplatform/database/LevelDBWriter.scala
  src/main/scala/com/wavesplatform/database/ReadOnlyDB.scala
  src/main/scala/com/wavesplatform/database/package.scala
  src/main/scala/com/wavesplatform/database/patch/DisableHijackedAliases.scala
  src/main/scala/com/wavesplatform/state/Diff.scala
  src/main/scala/com/wavesplatform/state/package.scala
  src/test/scala/com/wavesplatform/database/LevelDBWriterSpec.scala
  src/test/scala/com/wavesplatform/state/BlockchainUpdaterImplSpec.scala
Labels: yolo

#1825 NODE-1296: LevelDBWriter benchmarks
  benchmark/src/main/resources/application.conf
  benchmark/src/main/scala/com/wavesplatform/state/Settings.scala
  benchmark/src/test/scala/com/wavesplatform/state/LevelDBWriterBenchmark.scala
Labels: do-not-merge

#1827 Sc 13 decompiler script
  generator/src/main/scala/com.wavesplatform.generator/utils/Gen.scala
  it/src/test/scala/com/wavesplatform/it/sync/smartcontract/SetScriptTransactionSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/transactions/SetAssetScriptTransactionSuite.scala
  lang/jvm/src/test/scala/com/wavesplatform/lang/IntegrationTest.scala
  lang/jvm/src/test/scala/com/wavesplatform/lang/compiler/DecompilerTest.scala
  lang/jvm/src/test/scala/com/wavesplatform/lang/compiler/package.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/CTX.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/compiler/CompilerContext.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/compiler/Decompiler.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/compiler/DecompilerContext.scala
  src/main/scala/com/wavesplatform/api/http/AddressApiRoute.scala
  src/main/scala/com/wavesplatform/api/http/ApiError.scala
  src/main/scala/com/wavesplatform/api/http/UtilsApiRoute.scala
  src/main/scala/com/wavesplatform/api/http/assets/AssetsApiRoute.scala
  src/main/scala/com/wavesplatform/consensus/GeneratingBalanceProvider.scala
  src/main/scala/com/wavesplatform/state/diffs/ContractInvocationTransactionDiff.scala
  src/main/scala/com/wavesplatform/transaction/ValidationError.scala
  src/main/scala/com/wavesplatform/transaction/smart/Verifier.scala
  src/main/scala/com/wavesplatform/transaction/smart/script/ContractScript.scala
  src/main/scala/com/wavesplatform/transaction/smart/script/Script.scala
  src/main/scala/com/wavesplatform/transaction/smart/script/v1/ExprScript.scala
  src/main/scala/com/wavesplatform/utils/package.scala
  src/test/scala/com/wavesplatform/history/BlockchainUpdaterLiquidBlockTest.scala
  src/test/scala/com/wavesplatform/http/AddressRouteSpec.scala
  src/test/scala/com/wavesplatform/http/UtilsRouteSpec.scala
Labels: wip

#1890 DEX-228 NotFound error
  it/src/main/scala/com/wavesplatform/it/api/AsyncMatcherHttpApi.scala
  it/src/test/scala/com/wavesplatform/it/async/matcher/CorrectStatusAfterPlaceTestSuite.scala
  src/main/scala/com/wavesplatform/matcher/AddressActor.scala
Labels: matcher

#1895 DEX-235 Fix OrderBookActorSpecification
  src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
Labels: matcher

#1899 DEX-236 CORS fix
  src/main/scala/com/wavesplatform/api/http/CompositeHttpService.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
Labels: matcher

#1897 Merge 0.15.x to master 2
  dexgenerator/src/main/resources/testnet.conf
  it/src/main/scala/com/wavesplatform/it/api/AsyncMatcherHttpApi.scala
  it/src/test/scala/com/wavesplatform/it/async/matcher/CorrectStatusAfterPlaceTestSuite.scala
  src/main/scala/com/wavesplatform/matcher/AddressActor.scala
  src/main/scala/com/wavesplatform/matcher/market/OrderBookActor.scala
  src/main/scala/com/wavesplatform/matcher/queue/KafkaMatcherQueue.scala
Labels: matcher

#1910 DEX-238 MatcherActorSpecification stabilisation
  src/test/scala/com/wavesplatform/matcher/market/MatcherActorSpecification.scala
Labels: matcher

#1909 DEX-237 Processing gap in MultipleMatchersTestSuite and MatcherRecoveryTestSuite
  it/src/main/scala/com/wavesplatform/it/api/AsyncMatcherHttpApi.scala
  it/src/main/scala/com/wavesplatform/it/api/SyncMatcherHttpApi.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/MatcherRecoveryTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/MatcherRestartTestSuite.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/MultipleMatchersTestSuite.scala
  src/main/resources/application.conf
  src/main/resources/logback.xml
  waves-testnet.conf
Labels: matcher

#1913 SC-70: Coeval trampoline for Decompiler
  lang/jvm/src/test/scala/com/wavesplatform/lang/compiler/DecompilerTest.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/compiler/Decompiler.scala
Labels: wip

#1933 DEX-239 Spendable balance changed stream with assetId
  benchmark/src/test/scala/com/wavesplatform/state/LevelDBWriterBenchmark.scala
  it/src/test/scala/com/wavesplatform/it/sync/matcher/config/MatcherDefaultConfig.scala
  src/main/scala/com/wavesplatform/Application.scala
  src/main/scala/com/wavesplatform/Importer.scala
  src/main/scala/com/wavesplatform/database/Caches.scala
  src/main/scala/com/wavesplatform/database/LevelDBWriter.scala
  src/main/scala/com/wavesplatform/history/StorageFactory.scala
  src/main/scala/com/wavesplatform/http/DebugApiRoute.scala
  src/main/scala/com/wavesplatform/matcher/AddressActor.scala
  src/main/scala/com/wavesplatform/matcher/AddressDirectory.scala
  src/main/scala/com/wavesplatform/matcher/Matcher.scala
  src/main/scala/com/wavesplatform/state/BlockchainUpdaterImpl.scala
  src/main/scala/com/wavesplatform/state/Portfolio.scala
  src/main/scala/com/wavesplatform/utx/UtxPool.scala
  src/main/scala/com/wavesplatform/utx/UtxPoolImpl.scala
  src/test/scala/com/wavesplatform/WithDB.scala
  src/test/scala/com/wavesplatform/consensus/FPPoSSelectorTest.scala
  src/test/scala/com/wavesplatform/database/LevelDBWriterSpec.scala
  src/test/scala/com/wavesplatform/db/ScriptCacheTest.scala
  src/test/scala/com/wavesplatform/db/WithState.scala
  src/test/scala/com/wavesplatform/matcher/AddressActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/matching/ReservedBalanceSpecification.scala
  src/test/scala/com/wavesplatform/matcher/model/OrderHistoryStub.scala
  src/test/scala/com/wavesplatform/mining/BlockWithMaxBaseTargetTest.scala
  src/test/scala/com/wavesplatform/state/BlockchainUpdaterImplSpec.scala
  src/test/scala/com/wavesplatform/utx/UtxPoolSpecification.scala
Labels: matcher

#1943 DEX-244 Update Kafka dependencies
  project/Dependencies.scala
Labels: matcher

#1960 NODE-1: fix data it test
  it/src/test/scala/com/wavesplatform/it/sync/transactions/DataTransactionSuite.scala
Labels: wip

#1976 Merge 0.16.x into master 4
  it/src/main/scala/com/wavesplatform/it/api/AsyncHttpApi.scala
  it/src/main/scala/com/wavesplatform/it/api/SyncHttpApi.scala
  it/src/test/scala/com/wavesplatform/it/sync/transactions/TransactionAPISuite.scala
  project/Dependencies.scala
  src/main/resources/application.conf
  src/main/scala/com/wavesplatform/api/http/TransactionsApiRoute.scala
  src/main/scala/com/wavesplatform/database/Caches.scala
  src/main/scala/com/wavesplatform/database/LevelDBWriter.scala
  src/main/scala/com/wavesplatform/matcher/AddressActor.scala
  src/main/scala/com/wavesplatform/matcher/AddressDirectory.scala
  src/main/scala/com/wavesplatform/matcher/Matcher.scala
  src/main/scala/com/wavesplatform/matcher/MatcherSettings.scala
  src/main/scala/com/wavesplatform/matcher/OrderDB.scala
  src/main/scala/com/wavesplatform/matcher/api/MatcherApiRoute.scala
  src/main/scala/com/wavesplatform/matcher/model/OrderValidator.scala
  src/test/scala/com/wavesplatform/matcher/AddressActorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/EmptyOrderDB.scala
  src/test/scala/com/wavesplatform/matcher/TestOrderDB.scala
  src/test/scala/com/wavesplatform/matcher/market/OrderValidatorSpecification.scala
  src/test/scala/com/wavesplatform/matcher/matching/ReservedBalanceSpecification.scala
  src/test/scala/com/wavesplatform/matcher/model/OrderDBSpec.scala
  src/test/scala/com/wavesplatform/matcher/model/OrderHistoryStub.scala
  src/test/scala/com/wavesplatform/settings/MatcherSettingsSpecification.scala
Labels: wip
