Repository wavesplatform/Waves, pull requests merged in 2022-03, with the labels that each got.

#3638 NODE-2433 Remove native fold
  lang/doc/v6/funcs/list-functions.hjson
  lang/shared/src/main/scala/com/wavesplatform/lang/utils/Serialize.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/compiler/ContractScriptCompactor.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/compiler/ExpressionCompiler.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/estimator/HighOrderFunctionInfo.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/estimator/v3/ScriptEstimatorV3.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/evaluator/Contextful.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/evaluator/EvaluatorV1.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/evaluator/EvaluatorV2.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/evaluator/FunctionIds.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/evaluator/ctx/impl/PureContext.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/evaluator/ctx/impl/waves/Functions.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/evaluator/package.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/parser/Expressions.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/parser/Parser.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/parser/ParserV2.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/serialization/SerdeV2.scala
  lang/tests/src/test/scala/com/wavesplatform/lang/ContractParserTest.scala
  lang/tests/src/test/scala/com/wavesplatform/lang/ParserV2DAppTest.scala
  lang/tests/src/test/scala/com/wavesplatform/lang/compiler/DecompilerTest.scala
  lang/tests/src/test/scala/com/wavesplatform/lang/evaluator/fold/GenericFoldTest.scala
  lang/tests/src/test/scala/com/wavesplatform/lang/evaluator/fold/NativeFoldTest.scala
  lang/tests/src/test/scala/com/wavesplatform/lang/v1/estimator/FunctionComplexityTest.scala
  lang/tests/src/test/scala/com/wavesplatform/lang/v1/estimator/NativeFoldEstimatorTest.scala
  repl/jvm/src/test/scala/com/wavesplatform/lang/v1/ReplTest.scala
Labels: enhancement, smart-contracts

#3635 NODE-2434 Option flag for verifier function serialization
  lang/shared/src/main/scala/com/wavesplatform/lang/contract/serialization/ContractSerDeV2.scala
  lang/tests/src/test/scala/com/wavesplatform/lang/ContractSerdeTest.scala
Labels: enhancement, state-breaking, smart-contracts

#3636 NODE-2430: Set callable complexity limit to 52k
  lang/shared/src/main/scala/com/wavesplatform/lang/directives/values/ScriptType.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/script/v1/ExprScript.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/BaseGlobal.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/ContractLimits.scala
  node/src/test/scala/com/wavesplatform/state/diffs/ci/InvokeScriptTransactionDiffTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/freecall/InvokeExpressionTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/smart/MaxCallableComplexityTest.scala
  node/src/test/scala/com/wavesplatform/transaction/TxHelpers.scala
Labels: enhancement, smart-contracts

#3630 NODE-2424 Miner account can have any script
  node/src/main/scala/com/wavesplatform/mining/Miner.scala
  node/src/main/scala/com/wavesplatform/state/appender/package.scala
  node/src/test/scala/com/wavesplatform/mining/MinerAccountScriptRestrictionsTest.scala
Labels: feature

#3633 NODE-2427: Increase SetScript limit after V6
  lang/shared/src/main/scala/com/wavesplatform/lang/script/ContractScript.scala
  lang/shared/src/main/scala/com/wavesplatform/lang/v1/ContractLimits.scala
  lang/tests/src/test/scala/com/wavesplatform/lang/compiler/ContractCompilerTest.scala
  node-it/src/test/scala/com/wavesplatform/it/sync/smartcontract/SetScriptBodyBytesByteVectorSuite.scala
  node/src/main/scala/com/wavesplatform/state/diffs/FeeValidation.scala
  node/src/main/scala/com/wavesplatform/state/diffs/SetScriptTransactionDiff.scala
  node/src/test/scala/com/wavesplatform/db/WithState.scala
  node/src/test/scala/com/wavesplatform/history/Domain.scala
  node/src/test/scala/com/wavesplatform/state/diffs/AssetTransactionsDiffTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/SetScriptTransactionDiffTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/ci/DAppListArgTypesTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/ci/IllegalAddressChainIdTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/ci/InvokeActionsFeeTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/ci/InvokeScriptTransactionDiffTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/ci/OverdraftTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/ci/package.scala
  node/src/test/scala/com/wavesplatform/state/diffs/ci/sync/SyncDAppComplexityCountTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/freecall/InvokeExpressionTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/smart/MaxCallableComplexityTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/smart/SmartAccountFeeTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/smart/eth/EthereumInvokeTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/smart/eth/EthereumTransferSmartTest.scala
  node/src/test/scala/com/wavesplatform/state/diffs/smart/predef/GenericRideActivationTest.scala
  node/src/test/scala/com/wavesplatform/test/RandomKeyPair.scala
  node/src/test/scala/com/wavesplatform/transaction/data/DataTransactionNewLimitsSpec.scala
Labels: enhancement, smart-contracts
